body{
	background-image: url("../images/background.jpg");
	background-position: center;
	margin-left: 18%;
	margin-top: 2%;
}

p{
	text-align: justify;
	margin-right: 22%;
}

.multidish{
	border-style: solid;
	border-radius: 10px;
}

